@model IEnumerable<BiraIssueTrackerCore.Web.Models.IssueTracker.IssueViewModel>

<table id="issues" class="table table-striped table-bordered table-responsive">
	<thead>
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Title)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Description)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.State)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.AuthorEmail)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.AssigneeEmail)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Date)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Tags)
		</th>
		<th>
			Quick actions
		</th>
	</tr>
	</thead>

	@foreach (var issue in Model)
	{
		<tr>
			<td>
				@issue.Title
			</td>
			<td>
				@issue.Description
			</td>
			<td>
				@Html.DisplayFor(m => issue.State)
			</td>
			<td>
				<a asp-controller="Users" asp-action="Profile" asp-route-id="@issue.AuthorEmail">@issue.AuthorEmail</a>
			</td>
			<td>
				<a asp-controller="Users" asp-action="Profile" asp-route-id="@issue.AssigneeEmail">@issue.AssigneeEmail</a>
			</td>
			<td>
				@Html.DisplayFor(modelItem => issue.Date)
			</td>
			<td>
				@if (issue.Tags != null)
				{
					foreach (var tag in issue.Tags)
					{
						<a asp-controller="Issues" asp-action="Tagged" asp-route-id="@tag.Slug" class="btn btn-xs btn-default">@tag.Name</a>
					}
				}
			</td>
			<td>
				<div class="btn-group flex">
					<a asp-action="Details" asp-route-id="@issue.Id" class="btn btn-primary">Details</a>
					
					@{ var dropdownStateAttribute = issue.UserCanChangeState || issue.UserCanEdit ? "" : "disabled";}

					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" @dropdownStateAttribute>
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>

					@if (issue.UserCanChangeState || issue.UserCanEdit)
					{
						<ul class="dropdown-menu">
							@{
								var linkText = issue.UserCanChangeState && !issue.UserCanEdit ? "Change state" : "Edit";
							}

							<li>
								<a asp-action="Edit" asp-route-id="@issue.Id">@linkText</a>
							</li>

							@if (issue.UserCanEdit)
							{
								<li>
									<a asp-action="Delete" asp-route-id="@issue.Id">Delete</a>
								</li>
							}
						</ul>
					}

				</div>
			</td>
		</tr>
	}
</table>


<script src="~/js/jquery.dataTables.min.js"></script>
<script src="~/js/dataTables.bootstrap.js"></script>
<script src="~/js/tableSort.js"></script>