@using BiraIssueTrackerCore.Web.Extensions;
@model BiraIssueTrackerCore.Web.Models.IssueTracker.IssueViewModel

@{
	ViewData["title"] = "Details";
}

<h2>Details</h2>

<div>
	<h4>Issue</h4>
	<hr/>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Title)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Title)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Description)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.State)
		</dt>

		<dd>
			<span class="btn-xs btn-@Model.State.GetColor()">@Html.DisplayFor(model => model.State)</span>
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Date)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Date)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.AuthorEmail)
		</dt>

		<dd>
			<a asp-controller="Users" asp-action="Profile" asp-route-id="@Model.AuthorEmail">@Model.AuthorEmail</a>
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.AssigneeEmail)
		</dt>

		<dd>
			<a asp-controller="Users" asp-action="Profile" asp-route-id="@Model.AssigneeEmail">@Model.AssigneeEmail</a>
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Tags)
		</dt>

		<dd>
			@foreach (var tag in Model.Tags)
			{
				<span>
					<a asp-action="Tagged" asp-route-id="@tag.Slug" class="btn btn-primary btn-xs">@tag.Name</a>
				</span>
			}
		</dd>
	</dl>
</div>
<p>
	@{
		var editText = Model.UserCanChangeState ? "Change State" : "Edit";

		if (Model.UserCanEdit)
		{
			editText = "Edit";
		}
	}

	<a asp-action="Index" class="btn btn-default">Back to List</a>
	<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">@editText</a>

	@if (Model.UserCanEdit)
	{
		<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
	}
</p>